
#searchBar {
	border: 1px solid #000000;
	border-right: none;
	font-size: 16px;
	padding: 10px;
	outline: none;
	width: 250px;
	-webkit-border-top-left-redius: 10px;
	-webkit-border-bottom-left-redius: 10px;
	-moz-border-redius-topleft: 10px;
	-moz-border-redius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
#searchBtn {
	border: 1px solid #000000;
	font-size: 16px;
	padding: 10px;
	background: #f1d829;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	-webkit-border-top-right-redius: 10px;
	-webkit-border-bottom-right-redius: 10px;
	-moz-border-redius-topright: 10px;
	-moz-border-redius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#searchBtn:hover{
	background: #f6e049;
}
	</style>